/*https://codepen.io/vanslooten/pen/eNzoaB*/

@import url('https://fonts.googleapis.com/css?family=Cinzel:400&display=swap');

#my-img {
  width: 100%;
}

.my-font {
  font-family: 'Cinzel', serif;
}

.my-capitalize {
  text-transform: capitalize;
}

.my-arrow {
  display: inline-block;
  font-size: 60px;
  position: absolute;
  top: 50%;
  transform:translate(-50%,-50%);
}

.my-arrow-parent {
  position: relative;
}

.my-arrow-parent a {
  color: inherit;
}

a:hover {
  color: #808080;
}