input.chk-btn {
  display: none;
}
input.chk-btn + label {
  border: 1px solid grey;
  color: #fff;
  background: #6c757d;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
  width: 80px;
}
input.chk-btn:not(:checked) + label:hover {
  box-shadow: 0px 1px 3px;
}
input.chk-btn + label:active,
input.chk-btn:checked + label {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}